[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
requests = "*"
numpy = "*"
pgwidget = "*"
pygame-menu = "*"
pygame-widgets = "*"
pygame-plot = "*"
matplotlib = "*"
pygame-matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
